html {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 2em;
  color: #333;
}

.hero {
  margin: 50px 0;
}

.hero h1, .hero p {
  margin: 0;
}
.navbar a {
  border-bottom: 1px solid #E0E0E0;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.navbar a:hover, .navbar a:active {
  border-bottom: 1px solid #AAA;
  color: #000;
}
