html {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 2em;
}

html, a {
  color: #333;
}

.hero {
  font-size: 0.8rem;
  margin: 40px 0 0;
}

.hero h1, .hero p {
  margin: 0;
}

.hero p {
  color: #777;
  font-size: 0.6rem;
}

.navbar {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar li {
  display: inline;
  margin: 5px;
  font-size: 0.6rem;
}

.navbar a {
  border-bottom: 1px solid #E0E0E0;
  text-decoration: none;
}

.navbar a:hover, .navbar a:active {
  border-bottom: 1px solid #AAA;
  color: #000;
}

.kicklet-link, .columbus-meetup-link {
  display: inline-block;
  color: #0E494E;
  text-decoration: none;
  border-bottom: none;
  font-size: 2rem;
  border-bottom: 1px solid #E0E0E0;
  margin: 40px auto 0;
}

.kicklet-link h2, .columbus-meetup-link h2 {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 4px auto;
  line-height: 0.4em;
}

.kicklet-link:hover, .kicklet-link:active, .columbus-meetup-link:hover, .columbus-meetup-link:active {
  border-bottom: 1px solid #AAA;
}

.kicklet-link small, .columbus-meetup-link small {
  font-size: 0.378em;
}

.columbus-meetup-link {
  color: #F25555;
  margin: 40px auto 20px;
}

.columbus-meetup-link h2 {
  font-size: 0.977rem;
}

@media (min-width: 360px) {
  .kicklet-link h2 {
    font-size: 2rem;
  }

  .hero, .navbar {
    font-size: 1rem;
  }

  .hero {
    margin: 50px 0 20px;
  }

  .hero p {
    font-size: 0.8rem;
  }

  .navbar li {
    margin: 10px;
    font-size: 0.77rem;
  }

  .kicklet-link {
    margin: 60px auto 0;
  }

  .columbus-meetup-link h2 {
    font-size: 1.21rem
  }

  .columbus-meetup-link {
    margin: 60px auto 20px;
  }
}

@media (min-width: 568px) {
  .navbar li {
    font-size: 1rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .kicklet-link {
    margin: 80px auto 0;
  }
  .columbus-meetup-link {
    margin: 80px auto 40px;
  }
}
